body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*HEADER*/
.blockquote {
    background-color: rgb(69, 69, 69);
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

/* Secciones */
h3 {
    border-bottom: 1px solid;
    padding: 5px;
    margin: 5px;
}

section {
    padding: 10px;
    margin: 5px;
    background-color: white;
    border-radius: 1rem;
}

/* Propiedades de texto */
.parrafo1 {
    text-align: left;
    text-transform: capitalize;
    text-decoration: underline;
}

.parrafo2 {
    background-color: rgb(231, 231, 231);
    border-left: 4px solid gray;
    color: rgb(68, 67, 67);
    padding: 5px;
}
/*CAJAS*/
.caja1 {
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0.3px;
    background-color: pink;
}

.caja2 {
    padding: 5px;
    margin: 5px;
    margin-top: 20px;
    border: 3px solid rgb(27, 16, 63);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0.3px;
    background-color: rgb(67, 202, 195);
}
/*POSICIONAMIENTO*/
.relativo {
    background-color: #ff99e5;
    position: relative;
    padding: 5px;
    margin: 5px;
    top: 0;
    left: 5px;
}

.absoluto {
    background-color: #da51ba;
    color: white;
    position: absolute;
    padding: 5px;
    margin: 5px;
    left: 50vw;
    top: 30rem;
}

